html, body{
	height: 100%;
	width: 100%;
	font-size: 15px;
	font-weight: normal;
	background-color:rgba(0,0,20,50);
	margin: 1px;
}
.getvideo{
	text-align: center;
	border-style:10 10 solid;
	color: white;
	width: 60%;
	right: 0;
	background-color: gray;
	float: right;
	margin: 0;
	position: fixed;
}
.video{
	width: 55%;
	right: 0;
	float: right;
}
.learn{
	height: 100%;
	width: 40%;
	overflow-y: auto;
	background-color: white;

}
.para{
	color: black;
	padding: 10px 60px;
	text-indent: 20px;
}
.para h1{
	border: 10px 10px;
	color: white;
	width: 100%;
	background-color:rgba(0,0,35,50);
	border-radius: 10px;
	margin: 0;
}